@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-roboto-sans);
  --font-mono: var(--font-roboto-mono);
  --font-origintech: var(--font-origintech);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
@layer base {
  *, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
}

@layer base {
  body {
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
  }
}
#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: #67E78B;
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
}
@keyframes fadeInOut {
  0%, 100% { opacity: 0; transform: scale(0.8); }
  20%, 80% { opacity: 1; transform: scale(1); }
}

.animate-fadeInOut {
  animation: fadeInOut 3s ease-in-out infinite;
}
